
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_comments') }}">Mes Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('comment_register') }}">Ajouter un Commentaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ url_for('logout') }}">Se Déconnecter</a>
                </li>
            </ul>
        </div>
